@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(245, 243, 243);
}

#container {
  font-family: "Noto Sans", sans-serif;
  display: flex;
  height: 100vh;
  overflow-x: hidden;
}

#container #left {
  width: 50%;
  position: relative;
}

#left header {
  display: flex;
  justify-content: flex-start;
  padding: 17px 24px 24px 35px;
}

#left #content {
  width: 70%;
  margin: auto;
  margin-top: 19%;
}

#left #content h1 {
  font-family: "Roboto", sans-serif;
  font-size: 5.2em;
  letter-spacing: 1px;
}

#left #content #buttons {
  padding-top: 10%;
}

#left #content #buttons button {
  padding: 24px 66px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 34px;
  font-weight: 700;
  font-size: 0.7em;
  cursor: pointer;
  transition: all 0.4s;
}
#left #content #buttons button:hover {
  color: white;
  background-color: black;
}

#left #content #buttons a {
  text-decoration: none;
  color: rgb(104, 104, 104);
  font-size: 0.7em;
  font-weight: 700;
  padding-left: 37px;
  transition: all 0.4s;
}
#left #content #buttons a:hover {
  color: black;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
}
footer ul {
  list-style: none;
  padding-right: 45px;
  padding-bottom: 20px;
}
footer ul li {
  display: inline-block;
  padding: 0px 76px 10px 0px;
  font-size: 0.7em;
  font-weight: 700;
}
footer ul li:first-child {
  color: rgb(104, 104, 104);
}
footer ul li:last-child {
  border-bottom: 2px solid black;
}

/* Right */

#container #right {
  width: 50%;

  position: relative;
  border: 0px solid black;
}

#right #menu {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  padding-left: 35px;
  font-size: 1.2em;
}

#right #box {
  width: 80%;
  background-color: black;
  color: white;
  position: absolute;
  top: 25px;
}

#right #box #images {
  /* border: 2px solid green; */
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding-bottom: 3%;
  padding-top: 30px;
}

#right #box #images::before {
  content: "";
  display: inline-block;
  height: 50%;
  width: 46%;
  background: url("https://images.unsplash.com/photo-1485726696757-76885c99f0f5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=80");
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 203px;
  left: -160px;
}
#right #box #images::after {
  content: "";
  display: inline-block;
  height: 50%;
  width: 33%;
  background: url("https://images.unsplash.com/photo-1589471861110-1144cd568519?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80");
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 216px;
  right: -240px;
}
#right #box #images img {
  width: 73%;
  margin-top: 10%;
}

#box #MusicBox {
  margin: auto;

  margin-bottom: 10%;
  width: 50%;
}
#box #MusicBox #song {
  display: flex;
  justify-content: space-between;
}

#box #MusicBox #song #download {
  height: 40px;
  width: 40px;
  color: black;
  border-radius: 50%;
  background-color: white;
  font-size: 1.4em;
  padding-left: 15px;
  padding-top: 5px;
  font-weight: lighter;
  margin-bottom: 7%;
  transition: all 0.6s;
}

#box #MusicBox #song #songname h2 {
  font-size: 1.2em;
}

#box #MusicBox #song #songname p {
  font-size: 0.7em;
  color: rgb(104, 104, 104);
}

#box #MusicBox #para {
  width: 70%;
  font-size: 0.7em;
  color: rgb(104, 104, 104);
}
